
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #d5b57d;
    outline-color:#d5b57d ;
    border-radius: 4px;
}

.active{
    background-color: #d5b57d;
    border-color: #d5b57d;
}

